<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2 waves-effect waves-light">
            <div class="nav-wrapper">
               <div class="container">
                <a internal href="{{ site.baseurl }}/" class="brand-logo">{{site.title}}</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a internal href="{{ site.baseurl }}/">Blog</a>
                    </li>
                    <li><a internal href="{{ site.baseurl }}/about/">About</a>
                    </li>
                    <li><a href="http://github.com/johnnysun/" target="_blank">GitHub</a>
                    </li>
                </ul>
                <a class="button-collapse show-on-large" href="#" data-activates="nav-mobile" style="left: 20px; position: fixed;"><i class="mdi-navigation-menu"></i></a>
            </div>
            </div>
        </nav>
    </div>
</header>
